# ignore env
*.env
# ignore folder
/dbdata/
/app/backend/vendor/
/app/backend/var/

.idea

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.php
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/app/backend/config/jwt/*.pem