# ignore env
*.env
# ignore folder
/dbdata/
/code/vendor/
/code/var/

.idea

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.php
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

