# ignore env
*.env
# ignore folder
/dbdata/
/app/backend/vendor/
/app/backend/var/

.idea

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.php
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/app/backend/config/jwt/*.pem

# dependencies
/app/frontend/node_modules
/app/frontend/.pnp
/app/frontend/.pnp.js

# testing
/app/frontend/coverage

# production
/app/frontend/build

/app/frontend/npm-debug.log*
/app/frontend/yarn-debug.log*
/app/frontend/yarn-error.log*
