@import "../../assets/styles/variables";

.toggle__sidebar {
  $widthLocal: 85px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: $widthLocal;
  align-items: center;

  &__switch {
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: fixed;
    align-self: center;
    bottom: 5%;
    background-color: unset;
    border: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    rotate: unset;
  }

  &__switch--status {
    rotate: 45deg;
  }

  &__switch:hover {
    scale: (1.3);
    animation: 3s linear 0s normal none infinite running rot;
    -webkit-animation: 3s linear 0s normal none infinite running rot;
  }

  &-container {
    width: $widthLocal;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
