@import "../../assets/styles/variables";

.message__name {
  padding: 12px 0;
  text-align: left;
  cursor: pointer;
  font-weight: 500;

  &--nickname {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
  }

  &--nickname:before {
    content:'@ ';
    color: grey;
  }
}