<h1>Confirm reset password for your account</h1>
<p>Hi {{ user.nickname }},</p>
<p>If you have attempted to reset your password, please click on the following link to submit your password reset request:</p>
<p><a href="{{absolute_url(url|raw) }}">{{ absolute_url(url|raw) }}</a></p>
<p>Otherwise, ignore the message</p>
