.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #373737;
  height: 50px;
  /*background-color: #d9ddf7; */
}

.logo {
  background: url("../../assets/img/messenger.svg");
  background-size: cover;
  width: 50px;
  height: 50px;

}


.logo:hover {
  animation: logo-spin 0.6s linear;
}

.logo:active {
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
