@import "../../assets/styles/variables";

.dropDownMenu {
  display: flex;
  flex-direction: row;

  &__button {
    cursor: pointer;
    border: unset;
    background-color: unset;
    width: 25px;
    height: 25px;
    background-image: url("../../assets/img/more.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__button:hover, &__button:active {
    transform: scale(1.2);
    background-color: #ffffff;
    border-radius: 50%;
  }

  &__children {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    margin: 36px 0 0 -135px;
    padding: 20px 0;
    min-width: 160px;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 6px;
    list-style: none;
    align-items: center;
  }

  &__children::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 91%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
  }
}