@import "../../assets/styles/variables";

.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container {
  width: 78px;
  height: 78px;
  margin-block: 0;
  margin-bottom: 5px;
}