$colorToMessage:#1f1e21c4;
$colorFromMessage:#f4f4f4;
$black:#202020;
$white:#fff;
$darkGray:#a9a9a9;
$lightGray:#e2e2e2;
$green:#00c980;
$grey:#636363;
$lightBlue: #f4f4f1;
$red: #A60000;
$widthScrollBar: 10px;